#map {
    width: 80%;
    margin: 0 auto;
    height: 400px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

#map > * {
    flex: 0 1 35%;
}
#map >:first-child {
    flex: 0 1 100%;
    text-align: center;
    font-size: 2em;
}

#map > iframe {
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.25) 1.95px 1.95px 2.6px;
}

#contact-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

#contact-info > * {
    font-size: 1em;
    color: black;
}

#contact-info > ul > li {
    list-style: none;
    margin-bottom: 1em;
}

#contact-info > ul > li > ul {
    list-style: outside;
    margin-left: 2em;
}
