
footer {
    min-width: 100%;
    max-width: 100%;
    position: relative;
    bottom: 10px;
    height: 10px;
}

footer > p {
    margin: 0 auto;
    font-size: 0.9em;
    max-width: max-content;
}
